#### Домашнее задание к лекции "Базовые понятия статистики"
##### Обязательная часть
Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики.

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения
(среди них должны быть как числовые, так и категориальные). 
Провести расчет базовых метрик для них, кратко описать результаты.

surgery - операция:1 = Да, была операция  2 = Лечение прошло без хирургического вмешательства
age - Возраст: 1 = взрослая лошадь  2 = Молодой (<6 месяцев)
pulse - пульс
          - линейный
          - частота пульса в ударах в минуту
          - отражает состояние сердца: 30-40 - нормально для взрослых
          - редко бывает ниже нормы, хотя у спортивных лошадей
            может иметь коэффициент 20-25
          - животные с болезненными поражениями или страдающие от шока кровообращения
            может иметь повышенную частоту сердечных сокращений
mucous_membranes - периферический пульс
          - субъективный
          - возможные значения:
               1 = нормальный 2 = увеличено 3 = уменьшено  4 = отсутствует
          - нормальный или повышенный п.п. указывают на адекватное кровообращение
            в то время как уменьшенные или отсутствующие указывают на плохую перфузию
peristalsis - перистальтика - указание активности кишечника лошади. Когда кишечник становится более растянутым или лошадь                      становится более токсичной, активность снижается.
          - возможные значения: 1 = гипермобильный 2 = нормальный 3 = гипомотиль  4 = отсутствует
abdominal_distension - вздутие живота - ВАЖНЫЙ параметр.
          - возможные значения: 1 = нет  2 = легкий  3 = умеренный  4 = тяжелый
          - животное с вздутием живота может быть болезненным и у него снижена перистальтика кишечника.
          - лошади с сильным вздутием живота, вероятно, потребуется операция, чтобы просто сбросить давление
abdomen - живот
          - возможные значения:
               1 = нормальный
               2 = другое
               3 = твердый кал в толстой кишке
               4 = растянутый тонкий кишечник
               5 = растянутый толстый кишечник
          - 3, вероятно, является препятствием, вызванным механическим воздействием, и обычно лечится с медицинской точки зрения
          - 4 и 5 указывают на хирургическое поражение
outcome - результат - что в итоге случилось с лошадью?
          - возможные значения:
               1 = жил  2 = умер  3 = был усыплен
total_protein - общий белок
          - линейный
          - нормальные значения лежат в диапазоне 6-7,5 (г / дл)
          - чем выше значение, тем сильнее обезвоживание

In [162]:
data = pd.read_csv('C:\\Users\\Admin\\Desktop\\netology\\Python\\Базовые понятия статистики\\horse_data.csv', header = None)
data.columns = ['surgery', 'age', 'hospital_number', 'rectal_temperature',
                 'pulse', 'respiratory_rate', 'temperature_of_extremities',
                'peripheral_pulse', 'mucous_membranes',
                'capillary_refill_time', 'pain', 'peristalsis',
                'abdominal_distension', 'nasogastric_tube', 'nasogastric_reflux',
                'nasogastric_reflux_PH', 'rectal_examination',
                'abdomen', 'packed_cell_volume',
                'total_protein', 'abdominocentesis_appearance',
                'abdomcentesis_total_protein', 'outcome',
                'surgical_lesion', 'type_of_lesion_1', 'type_of_lesion_2', 'type_of_lesion_3', 'cp_data']
df = data[['surgery', 'age', 'pulse','mucous_membranes','peristalsis','abdominal_distension', 'outcome','total_protein']]
df = df.replace('?', 'NaN')

df = df.astype(float)
df

,surgery,age,pulse,mucous_membranes,peristalsis,abdominal_distension,outcome,total_protein
0,2.0,1.0,66.0,NaN,4.0,4.0,2.0,8.4
1,1.0,1.0,88.0,4.0,4.0,2.0,3.0,85.0
2,2.0,1.0,40.0,3.0,3.0,1.0,1.0,6.7
3,1.0,9.0,164.0,6.0,4.0,4.0,2.0,7.2
4,2.0,1.0,104.0,6.0,NaN,NaN,2.0,7.4
...,...,...,...,...,...,...,...,...
295,1.0,1.0,120.0,4.0,4.0,NaN,3.0,65.0
296,2.0,1.0,72.0,4.0,3.0,3.0,3.0,NaN
297,1.0,1.0,72.0,4.0,4.0,3.0,2.0,6.8
298,1.0,1.0,100.0,3.0,3.0,3.0,1.0,6.0
299,1.0,1.0,40.0,NaN,NaN,NaN,3.0,62.0

In [153]:
df.describe()

,surgery,age,pulse,mucous_membranes,peristalsis,abdominal_distension,outcome,total_protein
count,299.000000,300.000000,276.000000,253.000000,256.000000,244.000000,299.000000,267.000000
mean,1.397993,1.640000,71.913043,2.853755,2.917969,2.266393,1.551839,24.456929
std,0.490305,2.173972,28.630557,1.620294,0.976744,1.065131,0.737187,27.475009
min,1.000000,1.000000,30.000000,1.000000,1.000000,1.000000,1.000000,3.300000
25%,1.000000,1.000000,48.000000,1.000000,3.000000,1.000000,1.000000,6.500000
50%,1.000000,1.000000,64.000000,3.000000,3.000000,2.000000,1.000000,7.500000
75%,2.000000,1.000000,88.000000,4.000000,4.000000,3.000000,2.000000,57.000000
max,2.000000,9.000000,184.000000,6.000000,4.000000,4.000000,3.000000,89.000000

Колонка age - Исходя из среднего значения,можно предположить, что в представленной выборке большая часть лошадей имеет возраст меньше 6 месяцев, но так как в максимальном значении 9, это говорит о присутствии выбросов в данной выборке.

Колонка pulse - более 75% лошадей представленных в выборке имели повышенные значения пульса, что говорит нам о том,что у этих животных были болезненные поражения.

Колонка total_protein - более 50% животных имели повышенное содержание белка, как седствие имели сильное обезвоживание.

In [154]:
print('Значение моды пульса: ', df.pulse.round().mode()[0])
print('Значение моды содержания протеина: ', df.total_protein.round().mode()[0])

Значение моды пульса:  48.0
Значение моды содержания протеина:  7.0

#### Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты.  
Принять и обосновать решение о дальнейшей работе с ними.

In [195]:
q1 = df.age.quantile(0.25)
q3 = df.age.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df.age.between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
remove_outliers

,surgery,age,pulse,mucous_membranes,peristalsis,abdominal_distension,outcome,total_protein
130,1.0,1.0,30.0,NaN,NaN,NaN,2.0,NaN
232,1.0,1.0,30.0,NaN,NaN,NaN,1.0,7.7
276,1.0,1.0,36.0,1.0,2.0,2.0,3.0,75.0
203,2.0,1.0,36.0,1.0,3.0,1.0,1.0,5.7
242,1.0,1.0,36.0,4.0,3.0,3.0,2.0,5.9
...,...,...,...,...,...,...,...,...
182,1.0,1.0,NaN,6.0,NaN,4.0,2.0,7.8
204,1.0,1.0,NaN,3.0,4.0,2.0,1.0,6.6
207,1.0,1.0,NaN,NaN,NaN,NaN,2.0,8.7
216,2.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN
288,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN

Скорее всего выбросы по возрасту обоснованы некорректным заполнением данных. Возможно под 9 подразумевается лошади моложе 6 месяцев (2 в описании), но так как с точностью нельзя быть уверенным в этом, то данные принято удалить из выборки.

In [163]:
remove_outliers.describe()

,surgery,age,pulse,mucous_membranes,peristalsis,abdominal_distension,outcome,total_protein
count,275.000000,276.0,254.000000,237.000000,238.000000,229.000000,275.000000,245.000000
mean,1.410909,1.0,67.456693,2.856540,2.928571,2.240175,1.552727,25.437959
std,0.492896,0.0,23.933953,1.611824,0.971722,1.059192,0.749660,27.916087
min,1.000000,1.0,30.000000,1.000000,1.000000,1.000000,1.000000,4.000000
25%,1.000000,1.0,48.000000,1.000000,3.000000,1.000000,1.000000,6.600000
50%,1.000000,1.0,60.000000,3.000000,3.000000,2.000000,1.000000,7.500000
75%,2.000000,1.0,84.000000,4.000000,4.000000,3.000000,2.000000,58.000000
max,2.000000,1.0,140.000000,6.000000,4.000000,4.000000,3.000000,89.000000

In [169]:
q1 = df.pulse.quantile(0.25)
q3 = df.pulse.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers_1 = df[df.age.between(lower_bound, upper_bound, inclusive=True)].sort_values('age')
remove_outliers_1

,surgery,age,pulse,mucous_membranes,peristalsis,abdominal_distension,outcome,total_protein
0,2.0,1.0,66.0,NaN,4.0,4.0,2.0,8.4
197,2.0,1.0,96.0,NaN,4.0,2.0,2.0,8.5
196,2.0,1.0,60.0,5.0,2.0,1.0,3.0,7.5
195,2.0,1.0,44.0,1.0,1.0,2.0,1.0,64.0
194,2.0,1.0,88.0,2.0,2.0,1.0,1.0,56.0
...,...,...,...,...,...,...,...,...
262,2.0,9.0,88.0,NaN,NaN,NaN,1.0,5.9
23,1.0,9.0,130.0,NaN,4.0,NaN,1.0,70.0
191,2.0,9.0,100.0,1.0,1.0,1.0,1.0,4.7
255,1.0,9.0,184.0,1.0,1.0,3.0,2.0,3.3
39,1.0,9.0,146.0,NaN,NaN,NaN,2.0,NaN

In [170]:
q1 = df.total_protein.quantile(0.25)
q3 = df.total_protein.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers_2 = df[df.age.between(lower_bound, upper_bound, inclusive=True)].sort_values('total_protein')
remove_outliers_2

,surgery,age,pulse,mucous_membranes,peristalsis,abdominal_distension,outcome,total_protein
255,1.0,9.0,184.0,1.0,1.0,3.0,2.0,3.3
210,1.0,1.0,68.0,2.0,4.0,2.0,2.0,4.0
84,1.0,1.0,60.0,2.0,3.0,3.0,1.0,4.5
142,1.0,1.0,120.0,6.0,4.0,4.0,2.0,4.5
247,1.0,1.0,88.0,4.0,4.0,3.0,2.0,4.6
...,...,...,...,...,...,...,...,...
245,2.0,1.0,96.0,3.0,4.0,4.0,2.0,NaN
248,1.0,1.0,108.0,4.0,3.0,3.0,1.0,NaN
274,1.0,1.0,76.0,NaN,4.0,4.0,3.0,NaN
288,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN
296,2.0,1.0,72.0,4.0,3.0,3.0,3.0,NaN

По столбцам пульс и общий белок выбросов нет

#### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов.  
Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [172]:
remove_outliers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 276 entries, 130 to 288
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               275 non-null    float64
 1   age                   276 non-null    float64
 2   pulse                 254 non-null    float64
 3   mucous_membranes      237 non-null    float64
 4   peristalsis           238 non-null    float64
 5   abdominal_distension  229 non-null    float64
 6   outcome               275 non-null    float64
 7   total_protein         245 non-null    float64
dtypes: float64(8)
memory usage: 19.4 KB

In [173]:
for col in remove_outliers.columns:
    pct_missing = remove_outliers[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

surgery - 0.4%
age - 0.0%
pulse - 8.0%
mucous_membranes - 14.1%
peristalsis - 13.8%
abdominal_distension - 17.0%
outcome - 0.4%
total_protein - 11.2%

#### Удалить строки с пропусками будет не верным решением, поскольку удаляется одна треть выборки.

In [174]:
remove_outliers.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184 entries, 276 to 148
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               184 non-null    float64
 1   age                   184 non-null    float64
 2   pulse                 184 non-null    float64
 3   mucous_membranes      184 non-null    float64
 4   peristalsis           184 non-null    float64
 5   abdominal_distension  184 non-null    float64
 6   outcome               184 non-null    float64
 7   total_protein         184 non-null    float64
dtypes: float64(8)
memory usage: 12.9 KB

На основании данных по результату (столбец outcome) можно заполнить столбцы пульс, переферический пульс и общий белок средними значениями, поскольку величина данных показателей могла напрямую повлиять на то выживет лошадь или нет.  
На основании переферического пульса можно заполнить показатели перельстатики и вздутия живота.

In [230]:
fill_total_protein_median = remove_outliers
fill_total_protein_median.total_protein.fillna(df.groupby('outcome').total_protein.transform('median'), inplace=True)

fill_pulse_median = fill_total_protein_median
fill_pulse_median.pulse.fillna(df.groupby('outcome').pulse.transform('median'), inplace=True)

fill_mucous_membranes_median = fill_pulse_median
fill_mucous_membranes_median.mucous_membranes.fillna(df.groupby('outcome').mucous_membranes.transform('median'), inplace=True)

fill_peristalsis_median = fill_mucous_membranes_median
fill_peristalsis_median.peristalsis.fillna(df.groupby('mucous_membranes').peristalsis.transform('median'), inplace=True)

fill_abdominal_distension_median = fill_peristalsis_median
fill_abdominal_distension_median.abdominal_distension.fillna(df.groupby('mucous_membranes').abdominal_distension.transform('median'), inplace=True)

Поскольку остальные столбцы имеют незначительное количество пропусков ими можно пренебречь

In [231]:
final = fill_abdominal_distension_median.dropna(thresh=8)
final

,surgery,age,pulse,mucous_membranes,peristalsis,abdominal_distension,outcome,total_protein
276,1.0,1.0,36.0,1.0,2.0,2.0,3.0,75.0
203,2.0,1.0,36.0,1.0,3.0,1.0,1.0,5.7
242,1.0,1.0,36.0,4.0,3.0,3.0,2.0,5.9
76,1.0,1.0,38.0,1.0,3.0,2.0,1.0,68.0
100,1.0,1.0,40.0,1.0,3.0,1.0,1.0,66.0
...,...,...,...,...,...,...,...,...
151,1.0,1.0,86.0,6.0,4.0,2.0,2.0,6.8
159,2.0,1.0,54.0,2.0,1.0,2.0,1.0,7.5
174,2.0,1.0,86.0,6.0,4.0,4.0,2.0,6.8
182,1.0,1.0,86.0,6.0,4.0,4.0,2.0,7.8
204,1.0,1.0,54.0,3.0,4.0,2.0,1.0,6.6

In [232]:
for col in final.columns:
    pct_missing = final[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

surgery - 0.0%
age - 0.0%
pulse - 0.0%
mucous_membranes - 0.0%
peristalsis - 0.0%
abdominal_distension - 0.0%
outcome - 0.0%
total_protein - 0.0%